<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <title> ヾ(=ﾟ･ﾟ=)ﾉ喵♪~Mr.Finger</title>
    <meta name="description" content="C++ Developer, Gopher, Pythoner, love open source.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/pic/favicon.png">
    <link rel="stylesheet" href="/static/css/apollo.css">
    <link rel="search" type="application/opensearchdescription+xml" href="http://andrewliu.in/atom.xml"
          title="ヾ(=ﾟ･ﾟ=)ﾉ喵♪~Mr.Finger">
    {% block custom_style %}
    {% endblock %}
</head>
<body>
<div class="wrap">
    <header>
        <a href="/" class="logo-link"><img src="/static/pic/favicon.png" alt="logo"></a>
        <ul class="nav nav-list">
            <li class="nav-list-item"><a href="/" target="_self" class="nav-list-link {% ifequal flag 'index' %}active{% endifequal %}">天天吹牛</a>
            </li>
            <li class="nav-list-item"><a href="/archives/" target="_self" class="nav-list-link {% ifequal flag 'list' %}active{% endifequal %}">整理</a></li>
            <li class="nav-list-item"><a href="http://weibo.com/u/2494046041" target="_blank"
                                         class="nav-list-link">非官方吐槽</a></li>
            <li class="nav-list-item"><a href="https://github.com/zhentoufei" target="_blank" class="nav-list-link">给她哈不</a>
            </li>
            <li class="nav-list-item"><a href="/about/" target="_self" class="nav-list-link{% ifequal flag 'about' %}active{% endifequal %}">关于</a></li>
            <li class="nav-list-item"><a href="/rss/" target="_self" class="nav-list-link{% ifequal flag 'rss' %}active{% endifequal %}">RSS</a></li>
        </ul>
    </header>
    {% block main %}

    {% endblock %}
    <footer>
        {% block footer_page %}
        {% endblock %}
        <div class="copyright"><p>@wait for some time<a href="">Mr.Finger</a>, powered by <a
                href="#" target="_blank">Mr.Finger</a> and <a
                href="#" target="_blank">Github</a>.</p></div>
    </footer>
</div>

</body>
</html>