{% extends 'base.html' %}
{% block main %}

    <h2 style="text-align: center; margin-top: 10%">欢迎做客</h2>
    <div class="error">
        <a style="font-size: 60px;text-align: center">404</a>
        <a style="font-size: 60px;text-align: center;transform:rotate(-30deg);">嘿嘿嘿</a></div>

{% endblock %}
{% block custom_style %}
    <style>
        div.error {
            margin: auto auto;
            margin-bottom: 260px;
            width: 200px;
            height: 100px;
            /* Rotate div */
            transform: rotate(9deg);
            -ms-transform: rotate(9deg); /* Internet Explorer */
            -moz-transform: rotate(9deg); /* Firefox */
            -webkit-transform: rotate(9deg); /* Safari 和 Chrome */
            -o-transform: rotate(9deg); /* Opera */
        }
    </style>
{% endblock %}

